* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    color: #333;
}

/* Контейнер */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Header */
.header {
    background: #111827;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.subtitle {
    opacity: 0.8;
}

/* Card (box model) */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

/* ID селектор */
#about {
    border-left: 4px solid #2563eb;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.skill {
    background: #2563eb;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

/* Псевдокласи */
a {
    color: #2563eb;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    /* Атрибутний селектор */
    a[target="_blank"] {
        font-weight: bold;
    }

/* Footer */
.footer {
    text-align: center;
    padding: 15px;
    background: #e5e7eb;
}
